<table class="table">
  <thead>
    <tr style="background-color: black; color: white">
      <th>Id</th>
      <th>Ad</th>
      <th>Soyad</th>
      <th>Telefon</th>
      <th>Sil</th>
      <th>Güncelle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th>{{ user.id }}</th>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.phone }}</td>
      <td>
        <button
          type="button"
          class="btn btn-light mr-1"
          (click)="deleteClick(user)"
        >
          Sil
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-light mr-1"
          data-toggle="modal"
          data-target="#exampleModal"
          (click)="editClick(user)"
          data-backdrop="static"
          data-keyboard="false"
        >
          Güncelle
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModal"
  (click)="addClick()"
  data-backdrop="static"
  data-keyboard="false"
>
  Kullanıcı Ekle
</button>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ ModalTitle }}</h5>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeClick()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-users [user]="user" *ngIf="ActiveAddEditUserComp">
        </app-add-edit-users>
        
      </div>
     
    </div>
  </div>
</div>
