<div class="form-froup row" style="width: 60%">
  <label class="col-sm-2 col-form-label">Kullanıcı Adı</label>
  <div class="col-sm-10">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="firstName"
      placeholder="Kullanıcı adı giriniz"
    />
  </div>
  <label class="col-sm-2 col-form-label">Soyad</label>
  <div class="col-sm-10">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="lastName"
      placeholder="Soyad giriniz"
    />
  </div>
  <label class="col-sm-2 col-form-label">Telefon</label>
  <div class="col-sm-10">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="phone"
      placeholder="Telefon"
    />
  </div>
</div>
<div class="modal-footer" style="margin: 10px">
  <button
    (click)="addUsers()"
    *ngIf="user.id == 0"
    class="btn btn-lg btn-primary"
    data-dismiss="modal"
  >
    Ekle
  </button>
  <button
    *ngIf="user.id != 0"
    (click)="updateUsers()"
    class="btn btn-primary btn-lg"
  >
    Güncelle
  </button>
</div>
